body {
    background-color: rgb(235, 235, 235);
}

#aTextbox {
    height: 15px;
    width: 50px;
    margin-bottom: 5px;
    margin-left: 15px;
}

#bTextbox {
    height: 15px;
    width: 50px;
    margin-left: 15px;
}

#cLabel {
    height: 15px;
    width: 50px;
    margin-left: 28px;
}

#submitButton {
    padding: 3px 6px 3px 6px;
    letter-spacing: 2px;
    color: blue;
    margin-left: 54px;
    margin-top: 25px;
}